/* stylesheet */

div#initialize_form input[type=text] {
  border: 2px solid blue;
}

div#initialize_form input[type=text][readonly=""] {
  border: 2px solid red;
}

div.books ul {
  list-style-type: none;
}

div.books a {
  text-decoration: none;
}
div.books a:hover {
  color:red;
}
div.books li.stock span a:visited {
  color:blue;
}

div.pagination_links a {
  padding: 0 1.5px, 0 1.5px;
  text-decoration: underline;
}

div.pagination_links span {
  padding: 0 1.5px 0 1.5px;
}

div.mumbles ul {
  list-style-type: none;
}

div.mumble_header {
  font-size: 80%;
  color: gray;
}

div.mumble_body {
}

a.mumbles {
  width: 24px;
  height: 24px;
  background-image: url(images/pearls_orange_icon_010_24x24.png);
  background-repeat: no-repeat;
  text-decoration: none;
}

/*
li.stock:nth-child(odd) {
  background-color:red;
}
li.stock:nth-child(even) {
  background-color:blue;
}
li.mumble:nth-child(odd) {
  background-color:red;
}
li.mumble:nth-child(even) {
  background-color:blue;
}
*/